In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from sklearn import tree
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.externals import joblib


df = pd.read_csv("adult.data.txt", skipinitialspace = True)
df.columns = ["age",
"workclass",
"fnlwgt",
"education",
"education-num",
"marital-status",
"occupation",
"relationship",
"race",
"sex",
"capital-gain",
"capital-loss",
"hours-per-week",
"native-country",
"income"]

df_test = pd.read_csv("adult.test.txt", skipinitialspace = True, skiprows = [0])
df.columns = ["age",
"workclass",
"fnlwgt",
"education",
"education-num",
"marital-status",
"occupation",
"relationship",
"race",
"sex",
"capital-gain",
"capital-loss",
"hours-per-week",
"native-country",
"income"]

#df["moreThanFifty"] = df["income"].apply(lambda x: 1 if x == " >50K" else 0)
df = pd.get_dummies(df)
df_test = pd.get_dummies(df)

y = df["income_>50K"]
X = df.loc[:, :"income_<=50K"]

#X = df[["age",]]

y_test = df_test["income_>50K"]
X_test = df_test.loc[:, :"income_<=50K"]

model = RandomForestClassifier(n_estimators = 100, n_jobs = 20).fit(X, y)
print(model.score(X_test, y_test))
# 100% When testing against the test data set
# That means I'm great at this, right?

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

model = RandomForestClassifier(n_estimators = 100, n_jobs = 20).fit(X_train, y_train)
print(model.score(X_test, y_test))
# Another 100%
# Nailed it!

1.0
1.0

In [2]:
df = pd.read_csv("adult.data.txt", skipinitialspace = True)
df.columns = ["age",
"workclass",
"fnlwgt",
"education",
"education-num",
"marital-status",
"occupation",
"relationship",
"race",
"sex",
"capital-gain",
"capital-loss",
"hours-per-week",
"native-country",
"income"]

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from sklearn import tree
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.externals import joblib

%matplotlib inline

In [6]:
list(df)

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'income']

In [9]:
df["occupation"].unique()

array(['Exec-managerial', 'Handlers-cleaners', 'Prof-specialty',
       'Other-service', 'Adm-clerical', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', '?', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from sklearn import tree
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.externals import joblib


df = pd.read_csv("adult.data.txt", skipinitialspace = True)
df.columns = ["age",
"workclass",
"fnlwgt",
"education",
"education-num",
"marital-status",
"occupation",
"relationship",
"race",
"sex",
"capital-gain",
"capital-loss",
"hours-per-week",
"native-country",
"income"]

df_test = pd.read_csv("adult.test.txt", skipinitialspace = True, skiprows = [0])
df.columns = ["age",
"workclass",
"fnlwgt",
"education",
"education-num",
"marital-status",
"occupation",
"relationship",
"race",
"sex",
"capital-gain",
"capital-loss",
"hours-per-week",
"native-country",
"income"]

#df["moreThanFifty"] = df["income"].apply(lambda x: 1 if x == " >50K" else 0)
df = pd.get_dummies(df)
df_test = pd.get_dummies(df)

y = df["income_>50K"]
X = df.loc[:, :"income_<=50K"]

#X = df[["age",]]

y_test = df_test["income_>50K"]
X_test = df_test.loc[:, :"income_<=50K"]


def Elapsed_Time(started):
    later = time.time()

    hours = int((later - started) / 3600)
    minutes = int(((later - started) % 3600) / 60)
    seconds = int(((later - started) % 3600) % 60)

    return "%02d:%02d:%02d" % (hours, minutes, seconds)

cv = KFold(n_splits = 10)

for estimators in range(10, 100, 10):
    start_time = time.time()
    model = RandomForestClassifier(n_estimators=estimators)
    scores = []
    for train_i, test_i in cv.split(X):
        Xr, yr, Xt, yt = X.loc[train_i], y.loc[train_i], X.loc[test_i], y.loc[test_i]
        model.fit(Xr, yr)
        scores.append(model.score(Xt, yt))
    print('estimators:', estimators, 'scores:', sum(scores)/len(scores), "Time:", Elapsed_Time(start_time))

estimators: 10 scores: 0.999508599509 Time: 00:00:02
estimators: 20 scores: 0.999969287469 Time: 00:00:04
estimators: 30 scores: 1.0 Time: 00:00:06
estimators: 40 scores: 1.0 Time: 00:00:08
estimators: 50 scores: 1.0 Time: 00:00:10
estimators: 60 scores: 1.0 Time: 00:00:12
estimators: 70 scores: 1.0 Time: 00:00:13
estimators: 80 scores: 1.0 Time: 00:00:15
estimators: 90 scores: 1.0 Time: 00:00:17

In [22]:
df = pd.read_csv("adult.data.txt", skipinitialspace = True)
df.columns = ["age",
"workclass",
"fnlwgt",
"education",
"education-num",
"marital-status",
"occupation",
"relationship",
"race",
"sex",
"capital-gain",
"capital-loss",
"hours-per-week",
"native-country",
"income"]

df_test = pd.read_csv("adult.test.txt", skipinitialspace = True, skiprows = [0])
df_test.columns = ["age",
"workclass",
"fnlwgt",
"education",
"education-num",
"marital-status",
"occupation",
"relationship",
"race",
"sex",
"capital-gain",
"capital-loss",
"hours-per-week",
"native-country",
"income"]

In [23]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,32560.0,38.581634,13.640642,17.0,28.0,37.0,48.0,90.0
fnlwgt,32560.0,189781.814373,105549.764924,12285.0,117831.5,178363.0,237054.5,1484705.0
education-num,32560.0,10.080590,2.572709,1.0,9.0,10.0,12.0,16.0
capital-gain,32560.0,1077.615172,7385.402999,0.0,0.0,0.0,0.0,99999.0
capital-loss,32560.0,87.306511,402.966116,0.0,0.0,0.0,0.0,4356.0
hours-per-week,32560.0,40.437469,12.347618,1.0,40.0,40.0,45.0,99.0

In [24]:
df_test.describe().T

,count,mean,std,min,25%,50%,75%,max
age,16280.0,38.768305,13.849192,17.0,28.00,37.0,48.0,90.0
fnlwgt,16280.0,189433.382555,105717.748915,13492.0,116716.25,177829.5,238384.0,1490400.0
education-num,16280.0,10.073096,2.567511,1.0,9.00,10.0,12.0,16.0
capital-gain,16280.0,1081.971560,7584.164160,0.0,0.00,0.0,0.0,99999.0
capital-loss,16280.0,87.904668,403.117078,0.0,0.00,0.0,0.0,3770.0
hours-per-week,16280.0,40.392260,12.479715,1.0,40.00,40.0,45.0,99.0